# app
fastapi>=0.78.0
sse-starlette
#mangum
aiofiles
# db
psycopg2-binary
SQLAlchemy
# file requests
python-multipart
# aws
boto3
#authetication/authorization
pyjwt[crypto]
#python-jose[cryptography]
## permisions
#ory-keto-client
## utils
stringcase
requests
aio-pika